
:root {
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Anton', sans-serif;

}

@font-face {
  font-family: 'Bebas';
  src: local('Bebas'), url(./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf) format('truetype');
}



body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
